html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"),url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"),url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff") format("woff"),url("../fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  font-display: swap;
  src: url("../fonts/NotoSerif-Bold.woff") format("woff"),url("../fonts/NotoSerif-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  min-width: 375px;
  max-width: 1920px;
  font-family: "Gilroy";
  color: #fff;
  background-color: transparent;
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.screen {
  flex: 1 0 100%;
  height: 100%;
  position: relative;
}

.screen_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

._container {
  margin: 0 auto;
  max-width: 1110px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.text30 {
  font-size: 30px;
  font-weight: 700;
  line-height: 133.3333333333%;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 35px;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.87), rgba(51, 51, 51, 0.87)),url(.jpg);
  color: #fff;
  border: 1px solid #fff;
  font-size: 18px;
  line-height: 116.6666666667%;
  font-weight: 500;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.link {
  color: #fff;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  color: #fff;
}

.header__content {
  display: flex;
  flex-direction: column;
}

.header__nav {
  margin: 15px 0 200px 0;
}

.header__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 50px 0;
}

.header__h1 {
  font-size: 36px;
  line-height: 136.1111111111%;
  font-size: 700;
  font-family: "NotoSerif";
  margin: 0 0 40px 0;
}

.nav__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav__item {
  font-size: 14px;
  line-height: 150%;
}

.nav__item:not(:nth-child(1)) {
  margin: 0 0 0 35px;
}

.nav__item:nth-child(4) {
  padding: 0 50px;
}

.footer_item {
  border-right: 1px solid #fff;
  margin: 0 15px 0 0;
}

.footer_item:last-child {
  margin: 0;
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer__line {
  border-top: 1px solid #fff;
  height: 1px;
  width: 100%;
  position: relative;
  margin: 0 0 30px 0;
}

.footer__line span::before {
  display: block;
  width: 130px;
  content: "";
  position: absolute;
  border-top: 1px solid #fff;
  bottom: 1px;
  right: 1100px;
}

.footer__line span::after {
  display: block;
  width: 130px;
  content: "";
  position: absolute;
  border-top: 1px solid #fff;
  bottom: 1px;
  left: 1100px;
}

@font-face {
  font-family: "icons";
  src: url("../img/iconfonts/icons.eot?raxu15");
  src: url("../img/iconfonts/icons.eot?raxu15#iefix") format("embedded-opentype"),url("../img/iconfonts/icons.ttf?raxu15") format("truetype"),url("../img/iconfonts/icons.woff?raxu15") format("woff"),url("../img/iconfonts/icons.svg?raxu15#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]::before,
[class*=" _icon-"]::before {
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-linkedin:before {
  content: "";
}

._icon-twitter:before {
  content: "";
}

._icon-insta:before {
  content: "";
}

._icon-fb:before {
  content: "";
}

@media (min-width: 1920pxpx) {
  .nav__item:nth-child(4) {
    padding: 0 120px;
  }
}

@media (min-width: 1920px) {
  .footer__line span::before {
    width: 400px;
  }

  .footer__line span::after {
    width: 400px;
  }
}

.webp .btn { background: linear-gradient(0deg, rgba(51, 51, 51, 0.87), rgba(51, 51, 51, 0.87)),url(.webp); }