// main // breaks
$header: 1030;
$main: 850; // ширина контейнера с контетом
$lg: 1200; 
$md:870; 
$md2:768; // ipad
$sm:550; // iphone 7
$minWidth:320px;
$maxWidth:1152; // ширина полотна
// font
$fontFamily: "Heebo-VariableFont_wght";
// colors
$danger: #ff6464;
$darkblue:#21243d;
$skyblue:#00a8cc;
$gray:#8695a4;
$darkenblue:#142850;
$whitegray:#e0e0e0;
$skywhite: #edf7fa;

