// main // breaks
$main: 1110px; // ширина контейнера с контетом
$md2:768px; // ipad
$sm:375px; // iphone 7
$minWidth: 375px;
$maxWidth:1920; // ширина полотна
// font
$fontNoto: 'NotoSerif';
$fontGilroy: 'Gilroy';
// colors
$accent: #333333;
$grey: #D6D6D6;
$hardgrey: #979797;
$bgc: #F9F9F9;

