// breaks
$main: 1110px; // ширина контейнера с контетом
$md2:900px; // ipad
$md:420px; // iphone 6,7,8 plus,xs
$sm:375px;
$lg: 1920px; // широкие экраны
$minWidth: 375px; // мин ширина
$maxWidth:1920px; // ширина полотна
// fonts
$fontNoto: 'NotoSerif';
$fontGilroy: 'Gilroy';
// colors
$accent: #333333;
$grey: #D6D6D6;
$hardgrey: #979797;
$bgc: #F9F9F9;

