//catalog
.catalog {

   background: white;
   margin: 100px 0 0 0;
   &__content {

   }
   &__filter {
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin: 0 0 50px 0;
      @media (max-width:$md2) {
         flex-direction: column;
         align-items: flex-start;
         margin: 0 0 10px 50px;
      }
   }

   &__net {
   }

   &__btn {
      display: flex;
      justify-content: center;
   }
   &__row {
      width: 100%;
      font-size: 16px;
      line-height: 24 / 16 * 100%;
      font-family: $fontGilroy;
      background: white;
      border: none;
      padding: 0 0 15px 0 ;
      margin: 0 35px 0 0;
      text-align: left;
      border-bottom: 1px solid $accent;
      &:last-child{
         margin: 0;
      }
      @media (max-width:$md2) {
         font-size: 20px;
         padding: 10px 0 15px 10px ;
         max-width: 200px;
      }
      
   }

   &__item {
      flex: 1 1 auto;
      font-size: 16px;
      line-height: 24 / 16 * 100%;
      font-family: $fontGilroy;
      background: white;
      @media (max-width:$md2) {
         font-size: 20px;
      }
   }
}
.net {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;

   &_item {
      flex: 1 1 100/3*1%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $accent;
      margin: 50px 0 50px 0;
      padding: 0 0 50px 0;
   }

   &__subtitle {
      font-size: 16px;
      line-height: 24 / 16 * 100%;
      color: $accent;
      margin: 15px 0 25px 0;
   }

   &__title {
      font-size: 24px;
      line-height: 33 / 24 * 100%;
      font-weight: 600;
      color: $accent;
      margin: 0 0 20px 0;
   }

   &__price {
      margin: 0 0 40px 0;
   }
}
.btn{
   background: $accent;
}
//about
.about {
   margin: 150px 0 0 0;
   color: $accent;
   @media (max-width:$md2) {
      margin: 30px 0 0 0;
   }
   &__content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 15px;
      @media (max-width:$md+300) {
         flex-direction: column;
         margin: 0 15px;
      }

   }

   &__desc {
      flex: 1 0 540px;
      margin: 0 120px 0 0;
   }

   &__text {
      font-size: 18px;
      line-height: 25 / 14 * 100%;
      @media (max-width:$md2) {
         font-size: 15px;
      }
   }

   &__btn {
      text-decoration: underline dashed;
      font-size: 18px;
      line-height: 21 / 18 * 100%;
      font-size: 500;
      letter-spacing: .1em;
      text-transform: uppercase;
      margin: 15px 0 0 0;
      @media (max-width:$md2) {
         margin: 15px 0 40px 0;
      }
   }

   &__servises {
      flex: 1 0 277px;
      display: flex;
      flex-flow: row wrap;
   }
}
.servises {

   &__item {
      flex: 1 0 50%;
      max-height: 133px;
      margin: 0 0 25px 0;
   }

   &__icon {
      color: $accent;
      font-size: 70px;
   }

   &__subtitle {
      font-size: 16px;
      line-height: 24 / 16 * 100%;
      max-width: 50px;
   }
}



