.header {
   position: absolute;
   width: 100%;
   z-index: 50;
   color: white;
   &__content {
      display: flex;
      flex-direction: column;
   }

   &__nav {
   }

   &__main {}

   &__footer {}
}
.nav {

   &__menu {
      display: flex;
   }

   &__item {}
}
.footer {

   &_item {}

   &__container {}
}
