// header main ======================================================================================= //
.header {
   position: absolute;
   width: 100%;
   z-index: 50;
   color: white;
   &__content {
      display: flex;
      flex-direction: column;
   }

   &__nav {
      margin: 15px 0 200px 0;
      @media (max-width:$sm) {
         background: $accent;
      }
      @media (min-width:$lg) {
         margin: 15px 0 500px 0;
      }
      @media (max-width:$md2) {
         margin: 30px 0 200px 0;
      }
   }

   &__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 0 50px 0;
      @media (min-width:$lg) {
         margin: 0 0 80px 0;
      }
   }

	&__h1 {
      font-size: 36px;
      line-height: 49 / 36  * 100%;
      font-size: 700;
      font-family: $fontNoto;
      margin: 0 0 50px 0;
      text-align: center;
   }

   &__footer {
      margin: 0 0 10px 0;
      @media (min-width:$lg) {
         margin: 0 0 30px 0;
      }
   }
}
// header nav ======================================================================================= //
.nav {
   &__menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
   }

   &__item {
      font-size: 14px;
      line-height: 21 / 14  * 100%;
      &:not(:nth-child(1)){
         margin: 0 0 0 35px;
      }
      &:nth-child(4){
      padding: 0 50px;
      }
      @media (max-width:$sm) {
         &:nth-child(4){
            margin: 0 25px 0 25px;
            padding: 0;
         }
      }
      @media (min-width:$lg) {
         &:nth-child(4){
            padding: 0 100px;
            }
      }
      @media (max-width:$md2) {
      &:not(.logo){
         display: none;
      }
      }
      @media (max-width:$md2+300) {
         &:nth-child(4){
            padding: 0;
            }
         }
         @media (max-width:$md2) {
            &:nth-child(4){
               margin: 0 100px 0 0;
               }
         }
   }
   &__search{
      margin: 0 10px 0 0;
   }
   &__heart{
      @media (min-width:$md2) {
         &:hover{
            color: red;
         }
      }
   }
   &__item_toggle{
      display: none;
      cursor: pointer;
      @media (max-width:$sm) {
         margin: 0 0 0 40px;
      }
      span{
         width: 27px;
         height: 3px;
         content: ' ';
         background: white;
         margin: 3px 0 3px 0;
         border-radius: 50px;
         &:nth-child(2){
         width: 17px;
         }
      }
      @media (max-width:$md2) {
         display: flex;
         flex: 0 1 auto;
         flex-direction: column;
      }
   }
}
// header footer ======================================================================================= //
.footer {
   @media (max-width:$md2+200) {
      display: none;
   }
   &_item {
      border-right: 1px solid white;
      margin: 0 15px 0 0;

      &:last-child{
         margin: 0;
         border-right: none;
      }
   }

   &__container {
      display: flex;
      flex-direction: row;
      justify-content: center;
   }
   &__line{
      border-top: 1px solid white;
      height: 1px;
      width: 100%;
      position: relative;
      margin: 0 0 30px 0;
      span::before {
         display: block;                 
         width: 130px;                   
         content: '';                    
         position: absolute;              
         border-top: 1px solid white;
         bottom: 1px;               
         right: 1100px;
         @media (min-width:$lg) {
            width:400px;
         }
      }
      span::after {
         display: block;
         width: 130px;
         content: '';
         position: absolute;
         border-top: 1px solid white;
         bottom: 1px;   
         left: 1100px; 
         @media (min-width:$lg) {
            width:400px;
         }
   }
   }
}
// modal bar ======================================================================================= //
.modal {
   @media (min-width:$md2) {
      display: none;
   }
   position: absolute;
   top: -1000px;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.4);
   display: flex;
   justify-content: center;
   width: 100%;
   height: 100%;
   transition: linear top .1s;
   &__body {
      width: 100%;
      height: 100%;
      background: $accent;
      color: white;
   }
   &__container{
      margin: 0 30px 0 30px;
   }
   &__nav {
      margin: 0 0 35px 0;
   }

   &__item {
      margin: 40px 0 0 0;
   }

   &__link {   
      color: white;
      font-size: 21px;
      line-height: 29 / 21 * 100%;
   }

   &__icons {

      i{
         font-size: 30px;
         color: white;
         margin: 0 30px 0 5px;
         &:last-child{
            margin: 0;
         }
      }
   }

   &__social {
      color: white;
      display: flex;
      justify-content: space-between;
   }
   &__icon{
      font-size: 40px;
   }
   hr{
      margin: 25px 0 25px 0;
   }
}
