.header {
   position: absolute;
   width: 100%;
   z-index: 50;
   color: white;
   &__content {
      display: flex;
      flex-direction: column;
   }

   &__nav {
      margin: 15px 0 200px 0;
   }

   &__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 0 50px 0;
   }

	&__h1 {
      font-size: 36px;
      line-height: 49 / 36  * 100%;
      font-size: 700;
      font-family: $fontNoto;
      margin: 0 0 40px 0;
   }

   &__footer {
   }
}
.nav {
   &__menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
   }

   &__item {
      font-size: 14px;
      line-height: 21 / 14  * 100%;
      &:not(:nth-child(1)){
         margin: 0 0 0 35px;
      }
      &:nth-child(4){
      padding: 0 50px;
      }
      @media (min-width:$lg+px) {
         &:nth-child(4){
            padding: 0 120px;
            }
      }
   }
}

.footer {
   &_item {
      border-right: 1px solid white;
      margin: 0 15px 0 0;
      &:last-child{
         margin: 0;
      }
      img{
      }
   }

   &__container {
      display: flex;
      flex-direction: row;
      justify-content: center;
   }
   &__line{
      border-top: 1px solid white;
      height: 1px;
      width: 100%;
      position: relative;
      margin: 0 0 30px 0;
      span::before {
         display: block;                 
         width:130px;                   
         content: '';                    
         position: absolute;              
         border-top: 1px solid white;
         bottom: 1px;               
         right: 1100px;
         @media (min-width:$lg) {
            width:400px;
         }
      }
      span::after {
         display: block;
         width:130px;
         content: '';
         position: absolute;
         border-top: 1px solid white;
         bottom: 1px;   
         left: 1100px; 
         @media (min-width:$lg) {
            width:400px;
         }
   }
   }
}
